*{
	margin: 0;
	padding: 0;
}

.settings{
	margin: 5% auto;
	padding:10px;
	font-family: 'Bree Serif';
	font-size: 20px;
	border: 2px dotted black;
	width:50%;
	
	text-align: center;
}

form{
	text-align: center;
}

form p{
	padding-top:5%;
}

form input{
	width: 50%;
	text-align: center;
/*	display: block;*/
	margin-top:2%;
	font-size:18px;
}